.container-construcao{
    width: 100%;
    height: 600px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
}