.dropdown-menu {
  background: red;
  width: auto;
  /*position: relative;*/
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: var(--verde3);
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: var(--verde1);
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
  font-size: 10px;
}

@media screen and (max-width: 960px) {
  .FaCaretDown {
    display: none;
  }
}