.container-section--blog{
    border: 1px solid orange;
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
}

.container-card{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.card-article-blog{
    border: 1px solid silver;
    width: 265px;
    height: 320px;
    margin: 10px;
}

.card-article-blog:hover{
    border: 1px solid green;
}

.card-article-blog-img{
    height: 130px;
    width: 100%;
}

.img-cover{
    width: 100%;
    height: 100%;
}

.card-article-blog--title{
    color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
}

.card-article-blog--title h2{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin: 0;
}

.card-article-blog--resume{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
}

.card-article-blog--resume p{
    font-size: 12px;
    text-align: justify;
    padding: 0px 10px;
    margin: 0;
}
.card-article-blog--date-read-plus{
    width: 100%;
    height: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.card-article-blog--date-read-plus .date{
    font-weight: 600;
}

.card-article-blog--date-read-plus .read-plus a{
    color: var(--verde3);
    text-decoration: none;
}

.card-article-blog--date-read-plus .read-plus a:hover{
    color: var(--text-black);
}

.card-article-blog--share-social{
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.card-article-blog--share-social span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    background-color: rgb(214, 212, 212);
    color: var(--verde3);
    font-size: 12px;
}

.container-section--blog-footer{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container-section--blog-footer a{
    background-color: var(--btn3);
    color: var(--verde3);
    text-decoration: none;
    padding: 10px;
}

.container-section--blog-footer a:hover{
    color: var(--text-white);
    background-color: var(--verde3);
}

/* REACT SHARE */
.Demo__some-network {
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
  }
  
  .Demo__some-network__share-count {
    display: inline-flex;
    justify-content: center;
    white-space: nowrap;
    overflow: visible;
    width: 0;
    margin-top: 3px;
    font-size: 12px;
  }
  
  .Demo__some-network__share-button {
    cursor: pointer;
  }
  
  .Demo__some-network__share-button:hover:not(:active) {
    opacity: 0.75;
  }
  
  .Demo__some-network__custom-icon {
    width:32px;
    height:32px;
  }
  /* FIM REACT SHARE */

  @media screen and (max-width: 960px){
    .container-card{
        border: 1px solid red;
        display: flex;
        justify-content: center;
    }
  }