* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .navbar-w {
    background: var(--verde1);
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 10000;
  }
  
  .navbar-container-w {
    display: flex;
    justify-content: space-between;
    height: 60px;
  }
  
  .container-w {
    width: auto;
    z-index: 1;
    margin-left: 50px;

  }

  .container-w a:hover{
    color: var(--amarelo);
  }
  
  .navbar-logo-w {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  
  .navbar-icon-w {
    margin-right: 0.5rem;
  }
  
  .nav-menu-w {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    justify-content: flex-end;
    margin: 0;
  }
  
  .nav-item-w {
    height: 60px;
    border-bottom: 3px solid transparent;
  }
  
  .nav-item-w:hover {
    border-bottom: 3px solid var(--amarelo);
  }
  
  .nav-links-w {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }

  .nav-links-w:hover{
    color: white;
  }
  
  .activated {
    background-color: var(--verde3);
    height: 60px;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .menu-icon-w {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems-w {
      position: relative;
    }
  
    .nav-menu-w {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu-w.active {
      background: var(--verde2);
      left: 0;
      opacity: 1;
      transition: all 0.6s ease;
      z-index: 1;
    }
  
    .nav-links-w {
      text-align: center;
      padding: 2rem;
      width: 100%;
      height: 60px;
      display: table;
    }
  
    .nav-links-w:hover {
      color: var(--amarelo);
      transform: scale(1.2);
      transition: all 0.3s ease;
      background-color: var(--verde3);
    }
  
    .nav-item-w:hover {
      border: none;
    }
  
    .nav-item-w {
      width: 100%;
      height: 100%;
    }
  
    .navbar-logo-w {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon-w {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  }