footer{
    background-color: var(--verde2);
    height: 60px;
    width: 100%;
    color: var(--text-white);
}

.container-footer{
   height: inherit;
   display: flex;
   align-items: center;
   justify-content: center;
}

.container-footer p{
    margin: 0 5px;
}

.container-footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    text-decoration: none;
}

.container-footer a:hover{
    color: var(--amarelo);
}