.container-social-midia{
    width: 200px;
    height: 60px;
}

.social-midia-icons{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin: 0 5px;
}

.icon-link:hover{
    background-color: var(--laranja);
}

.icon{
    color: white;
    size: 24px;
}